@page "/"
@inject IBlogClient _blogClient

<h1 class="my-4">Latest Posts</h1>

<BlogArticleList BlogDTOs="_blogDTOs" />

@code{
    private List<BlogDTO> _blogDTOs;

    protected async override Task OnInitializedAsync()
    {
        _blogDTOs = await _blogClient.GetAllAsync();
    }
}