@page "/blog/view/{ID:int}"
@page "/blog/view/{ID:int}/{Title}"
@inject IBlogService BlogService

@if (_blogDTO == null)
{
    <TextCenter Text="Loading..." />
}
else
{
    <TextCenter Text="@_blogDTO.Title" />

    <br />

    <div class="container">
        @((MarkupString)_blogDTO.HTMLContent)
    </div>
}

@code{
    [Parameter] public int ID { get; set; }
    [Parameter] public string Title { get; set; }

    private BlogDTO _blogDTO { get; set; }

    protected async override Task OnInitializedAsync()
    {
        _blogDTO = await BlogService.GetBlogAsync(ID);
    }
}