@page "/blog/view/{ID:int}"
@page "/blog/view/{ID:int}/{Title}"
@inject IBlogService BlogService

@if (_blog == null)
{
    <TextCenter Text="Loading..." />
}
else
{
    <TextCenter Text="@_blog.Title" />

    <br />

    <div class="container">
        @((MarkupString)_blog.HTMLContent)
    </div>
}

@code{
    [Parameter] public int ID { get; set; }
    [Parameter] public string Title { get; set; }

    private BlogModel _blog { get; set; }

    protected async override Task OnInitializedAsync()
    {
        _blog = await BlogService.GetBlogAsync(ID);
    }
}