@page "/blog/view/{ID:int}"
@page "/blog/view/{ID:int}/{Title}"
@inject IBlogService BlogService

@if (Blog == null)
{
    <TextCenter Text="Loading..." />
}
else
{
    <TextCenter Text="@Blog.Title" />

    <br />

    <div class="container">
        @((MarkupString)Blog.HTMLContent)
    </div>
}


@code{
    [Parameter] public int ID { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public BlogModel Blog { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Blog = await BlogService.GetBlogAsync(ID);
    }
}