@page "/account/login"
@layout BrandOnlyLayout

<style>
    body {
        background-color: #f7f9fb !important;
    }
</style>

<div class="container d-flex align-items-center flex-column">
    <form action="" class="shadow p-3 mb-5 bg-white rounded account-form">

        <h3 class="mb-3">Login</h3>

        <div class="mb-3">
            <label for="email" class="form-label">E-Mail Address</label>
            <input type="email" id="email" class="form-control">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control">
        </div>

        <div class="mb-3 form-check">
            <input checked type="checkbox" class="form-check-input" id="remember">
            <label class="form-check-label" for="remember">Remember Me</label>
        </div>

        <button type="submit" class="btn btn-success mb-3 w-100">Login</button>

        <div class="text-center">
            <p>Don't have an account? <a href="account/register" class="text-decoration-none">Create One</a> </p>
        </div>
    </form>
</div>

@code{

}