<!-- navigation -->
<nav class="navbar b-navbar fixed-top navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand b-navbar-brand" href="/">Blog.</a>

        <button class="navbar-toggler b-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>MENU
        </button>

        <!-- navigation links -->
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link b-nav-link mr-4" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link b-nav-link mr-4" href="blog/articles">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link b-nav-link mr-4" href="blog/create">Create Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link b-nav-link mr-4" href="blog/manage">Manage Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link b-nav-link mr-4" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link b-nav-link" href="#">Log in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>