<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">BLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog/create">Create Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Filter Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog/manage">Manage Blogs</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="category-dropdown" data-toggle="dropdown"
                       aria-expanded="false">Category</a>
                    <ul class="dropdown-menu" aria-labelledby="category-dropdown">
                        <li><a class="dropdown-item" href="#">Create</a></li>
                        <li><a class="dropdown-item" href="#">Filter</a></li>
                        <li><a class="dropdown-item" href="#">Manage</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                <a class="btn btn-outline-primary" href="#">Log in</a>
            </div>
        </div>
    </div>
</nav>