<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">BLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="about">About</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="account/profiles">All Profiles</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="blog-dropdown" data-toggle="dropdown"
                       aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu" aria-labelledby="blog-dropdown">
                        <li><a class="dropdown-item" href="blog/articles">Articles</a></li>
                        <li><a class="dropdown-item" href="blog/create">Create</a></li>
                        <li><a class="dropdown-item" href="blog/search">Filter</a></li>
                        <li><a class="dropdown-item" href="blog/manage">Manage</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="category-dropdown" data-toggle="dropdown"
                       aria-expanded="false">Category</a>
                    <ul class="dropdown-menu" aria-labelledby="category-dropdown">
                        <li><a class="dropdown-item" href="category/create">Create</a></li>
                        <li><a class="dropdown-item" href="category/manage">All Categories</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="subscribe-dropdown" data-toggle="dropdown"
                       aria-expanded="false">Notifications</a>
                    <ul class="dropdown-menu" aria-labelledby="subscribe-dropdown">
                        <li><a class="dropdown-item" href="notificationReceiver/create">Subscribe</a></li>
                        <li><a class="dropdown-item" href="notificationReceivers/manage">Manage</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex align-items-center flex-row">
                <AuthorizeView>
                    <Authorized Context="authState">
                        <p class="my-0 mr-2">Hello <a href="account/personal">@authState.User.Identity.Name</a></p>
                        <a class="btn btn-outline-primary btn-sm" href="account/logout">Log out</a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="btn btn-outline-primary btn-sm mr-1" href="account/login">Log in</a>
                        <a class="btn btn-outline-primary btn-sm ml-1" href="account/register">Register</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</nav>