<GenericList Collection="BlogDTOs">
    <EmptyTemplateFragment>
        <div class="text-center">
            <h1>Articles not available</h1>
        </div>
    </EmptyTemplateFragment>
    <WholeCollectionTemplate>

        <!-- blog articles -->
        @foreach (var blogDTO in BlogDTOs)
        {
            <IndividualBlogArticle BlogDTO="blogDTO" CardCss="mb-4" />
        }

    </WholeCollectionTemplate>
</GenericList>

@code {
    [Parameter] public List<BlogDTO> BlogDTOs { get; set; }
}