@inherits LayoutComponentBase
@inject IPageClient PageClient

<Navigation />

<!-- Main Container -->
<div class="container">

    <div class="row">

        <!-- Body -->
        <div class="col-md-8">
            @Body
        </div>

        <!-- Sidebar Widgets -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <SearchWidget CardCss="my-4" />

            <!-- Categories Widget -->
            <CategoriesWidget CategoryDTOs="_indexPageDTO?.FeaturedCategoryDTOs" CardCss="my-4" />

            <!-- Tags Widget -->
            <TagsWidget CardCss="my-4" />

        </div>

    </div>

</div>

<!-- /.container -->
@*TODO: add footer <br>
    <footer class="bg-dark py-5 position-absolute align-bottom">
        <div class="container">
            <h5 class="text-center text-light m-0">
                Copyright ©2020 All rights reserved.
                This site made with Blazor by beso genebashvili.
            </h5>
        </div>
    </footer>*@

@code{

    private IndexPageDTO _indexPageDTO;

    protected override async Task OnInitializedAsync()
    {
        _indexPageDTO = await PageClient.GetIndexPageDTOAsync();
    }
}